asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.2.7
dj-database-url==0.5.0
Django==1.11.24
django-forms-bootstrap==3.1.0
dnspython==1.16.0
docutils==0.16
gunicorn==19.7.1
html5lib==0.999999999
idna==2.9
jmespath==0.9.5
olefile==0.46
pillow==7.0.0
psycopg2==2.8.4
pycurl==7.43.0.5
python-dateutil==2.6.1
pytz==2017.3
requests==2.23.0
six==1.5.2
sqlparse==0.3.1
stripe==1.70.0
urllib3==1.25.8
webencodings==0.5.1
