{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 16rem;">
                <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top product" alt="...">
                <div class="card-body">
                    <h5 class="product_name">{{ product.name }}</h5>
                     <p><span> <i class="fas fa-euro-sign"></i></span>{{ product.price }}</p>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
                     </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
