{% extends 'base.html' %}
{% block content %}


<div class="container mt-5">
    <div class="card-deck">
    {% for product in products %}
        <div class="card">
            <div class="card-body">
            <div class="product img-fluid" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}'); height: 300px; object-fit: cover;" alt="image"></div>
            <h3>{{ product.name }}</h3>
                <p class="product.description">{{ product.description }}</p>
                <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ product.price }}</p>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
